<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2p.mapper.SysDictMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2p.model.SysDict" >
    <constructor >
      <idArg column="did" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="dtitle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dtype" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dcontent" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dstate" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    did, dtitle, dtype, dcontent, dstate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_dict
    where did = #{did,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_dict
    where did = #{did,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.p2p.model.SysDict" >
    insert into t_sys_dict (did, dtitle, dtype, 
      dcontent, dstate)
    values (#{did,jdbcType=BIGINT}, #{dtitle,jdbcType=VARCHAR}, #{dtype,jdbcType=VARCHAR}, 
      #{dcontent,jdbcType=VARCHAR}, #{dstate,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2p.model.SysDict" >
    insert into t_sys_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="dtitle != null" >
        dtitle,
      </if>
      <if test="dtype != null" >
        dtype,
      </if>
      <if test="dcontent != null" >
        dcontent,
      </if>
      <if test="dstate != null" >
        dstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
      <if test="dtitle != null" >
        #{dtitle,jdbcType=VARCHAR},
      </if>
      <if test="dtype != null" >
        #{dtype,jdbcType=VARCHAR},
      </if>
      <if test="dcontent != null" >
        #{dcontent,jdbcType=VARCHAR},
      </if>
      <if test="dstate != null" >
        #{dstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2p.model.SysDict" >
    update t_sys_dict
    <set >
      <if test="dtitle != null" >
        dtitle = #{dtitle,jdbcType=VARCHAR},
      </if>
      <if test="dtype != null" >
        dtype = #{dtype,jdbcType=VARCHAR},
      </if>
      <if test="dcontent != null" >
        dcontent = #{dcontent,jdbcType=VARCHAR},
      </if>
      <if test="dstate != null" >
        dstate = #{dstate,jdbcType=INTEGER},
      </if>
    </set>
    where did = #{did,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2p.model.SysDict" >
    update t_sys_dict
    set dtitle = #{dtitle,jdbcType=VARCHAR},
      dtype = #{dtype,jdbcType=VARCHAR},
      dcontent = #{dcontent,jdbcType=VARCHAR},
      dstate = #{dstate,jdbcType=INTEGER}
    where did = #{did,jdbcType=BIGINT}
  </update>
</mapper>