<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2p.mapper.SysPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2p.model.SysPermission" >
    <constructor >
      <idArg column="spid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="spname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="splevel" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sparentpid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="available" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="permission" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    spid, spname, splevel, sparentpid, available, permission
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_permission
    where spid = #{spid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_permission
    where spid = #{spid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.p2p.model.SysPermission" >
    insert into t_sys_permission (spid, spname, splevel, 
      sparentpid, available, permission
      )
    values (#{spid,jdbcType=BIGINT}, #{spname,jdbcType=VARCHAR}, #{splevel,jdbcType=INTEGER}, 
      #{sparentpid,jdbcType=VARCHAR}, #{available,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2p.model.SysPermission" >
    insert into t_sys_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        spid,
      </if>
      <if test="spname != null" >
        spname,
      </if>
      <if test="splevel != null" >
        splevel,
      </if>
      <if test="sparentpid != null" >
        sparentpid,
      </if>
      <if test="available != null" >
        available,
      </if>
      <if test="permission != null" >
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="spid != null" >
        #{spid,jdbcType=BIGINT},
      </if>
      <if test="spname != null" >
        #{spname,jdbcType=VARCHAR},
      </if>
      <if test="splevel != null" >
        #{splevel,jdbcType=INTEGER},
      </if>
      <if test="sparentpid != null" >
        #{sparentpid,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        #{available,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2p.model.SysPermission" >
    update t_sys_permission
    <set >
      <if test="spname != null" >
        spname = #{spname,jdbcType=VARCHAR},
      </if>
      <if test="splevel != null" >
        splevel = #{splevel,jdbcType=INTEGER},
      </if>
      <if test="sparentpid != null" >
        sparentpid = #{sparentpid,jdbcType=VARCHAR},
      </if>
      <if test="available != null" >
        available = #{available,jdbcType=VARCHAR},
      </if>
      <if test="permission != null" >
        permission = #{permission,jdbcType=VARCHAR},
      </if>
    </set>
    where spid = #{spid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2p.model.SysPermission" >
    update t_sys_permission
    set spname = #{spname,jdbcType=VARCHAR},
      splevel = #{splevel,jdbcType=INTEGER},
      sparentpid = #{sparentpid,jdbcType=VARCHAR},
      available = #{available,jdbcType=VARCHAR},
      permission = #{permission,jdbcType=VARCHAR}
    where spid = #{spid,jdbcType=BIGINT}
  </update>
</mapper>