<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.p2p.mapper.SysRolesPermissionMapper" >
  <resultMap id="BaseResultMap" type="com.zking.p2p.model.SysRolesPermission" >
    <constructor >
      <idArg column="srpid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="srpsrid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="srpspid" jdbcType="BIGINT" javaType="java.lang.Long" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    srpid, srpsrid, srpspid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_roles_permission
    where srpid = #{srpid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_sys_roles_permission
    where srpid = #{srpid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zking.p2p.model.SysRolesPermission" >
    insert into t_sys_roles_permission (srpid, srpsrid, srpspid
      )
    values (#{srpid,jdbcType=BIGINT}, #{srpsrid,jdbcType=BIGINT}, #{srpspid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zking.p2p.model.SysRolesPermission" >
    insert into t_sys_roles_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="srpid != null" >
        srpid,
      </if>
      <if test="srpsrid != null" >
        srpsrid,
      </if>
      <if test="srpspid != null" >
        srpspid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="srpid != null" >
        #{srpid,jdbcType=BIGINT},
      </if>
      <if test="srpsrid != null" >
        #{srpsrid,jdbcType=BIGINT},
      </if>
      <if test="srpspid != null" >
        #{srpspid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.p2p.model.SysRolesPermission" >
    update t_sys_roles_permission
    <set >
      <if test="srpsrid != null" >
        srpsrid = #{srpsrid,jdbcType=BIGINT},
      </if>
      <if test="srpspid != null" >
        srpspid = #{srpspid,jdbcType=BIGINT},
      </if>
    </set>
    where srpid = #{srpid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.p2p.model.SysRolesPermission" >
    update t_sys_roles_permission
    set srpsrid = #{srpsrid,jdbcType=BIGINT},
      srpspid = #{srpspid,jdbcType=BIGINT}
    where srpid = #{srpid,jdbcType=BIGINT}
  </update>
</mapper>